<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  </head>
  <body>
    <div id="map" style="width: 1200px; height: 600px;"></div>

    Lat <input type="text" id="Latitude" /><br />
    Lon <input type="text" id="Longitude" />

    <script>
      var map = L.map("map").setView([-6.0341601, -76.9716797], 15);

      var osm = new L.tileLayer(
        "http://{s}.tile.osm.org/{z}/{x}/{y}.png"
      ).addTo(map);

      var geocoderNominatim = new L.Control.Geocoder.Nominatim();

      var options = {
        collapsed: false,
        placeholder: "Buscar dirección",
        errorMessage: "No se encontró ningún resultado",
        query: "Jr. Emilio Acosta Moyobamba",
        geocoder: geocoderNominatim,
        defaultMarkGeocode: false,
        draggable: true,
      };

      var geocoderControl = L.Control.geocoder(options)
        .on("markgeocode", function (e) {
          var box = e.geocode.center;
          var name = e.geocode.name;
          document.getElementById("Latitude").value = box.lat;
          document.getElementById("Longitude").value = box.lng;
          MarkLayer = L.marker([box.lat, box.lng], { draggable: true })
            .addTo(map)
            .on("dragend", onDragEnd)
            .bindPopup(e.geocode.name)
            .openPopup();
          displayLatLng(box);

          group = new L.featureGroup([MarkLayer]);

          map.fitBounds(group.getBounds());
        })
        .addTo(map);

      function onDragEnd(event) {
        var latlng = event.target.getLatLng();

        geocoderNominatim.reverse(
          latlng,
          map.options.crs.scale(map.getZoom()),
          function (reverseGeocoded) {
            event.target.setPopupContent(reverseGeocoded[0].name).openPopup();
          },
          this
        );

        displayLatLng(latlng);
      }

      function displayLatLng(latlng) {
        document.getElementById("Latitude").value = latlng.lat;
        document.getElementById("Longitude").value = latlng.lng;
      }
    </script>
  </body>
</html>
